---
layout: page.pug
language: ar
  
permalink: /ar/
---
  
p
  | Here is the list of organizations that provide various kinds of supports. Click on each organization to expand full info
  | about their services and how to reach out to them.

//- Utilities
- var alpha_sort = function(a, b) {
-   var nameA = a.name.toUpperCase(); // ignore upper and lowercase
-   var nameB = b.name.toUpperCase(); // ignore upper and lowercase
-   if (nameA < nameB) {
-     return -1;
-   }
-   if (nameA > nameB) {
-     return 1;
-   }
-   return 0;
- }
- var trimmer = x => x.trim()


//- Sorted list of organisations
- var organisations = Array.from(collections.organisations.sort(alpha_sort)).filter(({language: orglang}) => orglang === language);

.filters
  //- List of unique languages
  - var all_languages = organisations.map(({languages}) => languages.split(',').map(trimmer).map(name => ({name}))).reduce((acc, val) => acc.concat(val), []).sort(alpha_sort);
  - var languages = Array.from(new Set(all_languages.map(({name}) => name)));
  select.language-select(name='language')
    option
    each val in languages
      option(value=val)= val
  | 
  select.service-select(name='service')
    option
    each val, key in site.tags[language].services
      option(value=key)= site.tags[language].services[key]
  | 
  select.beneficiary-select(name='beneficiary')
    option
    each val, key in site.tags[language].beneficiaries
      option(value=key)= site.tags[language].beneficiaries[key]

  script.
    $(document).ready(function() {

        var languageSelect = $('.language-select').select2({
            placeholder: "Language",
            allowClear: true
        });
        var serviceSelect = $('.service-select').select2({
            placeholder: "Services",
            allowClear: true
        });
        var beneficiarySelect = $('.beneficiary-select').select2({
            placeholder: "Beneficiaries",
            allowClear: true
        });
        
        var currentFilter = {
          language: false,
          service: false,
          beneficiary: false
        };
    
        var changeFilter = function(f) {
          currentFilter = f;
          if (!f.language && !f.service && !f.beneficiary) {
            $('.organisation').show();
          } else{
            var selector = (f.language ? ('.language-' + f.language) : '') 
                         + (f.service ? ('.service-' + f.service ): '')
                         + (f.beneficiary ? ('.beneficiary-' + f.beneficiary) : '')
            $('.organisation').hide();
            $(selector).show();                  
          }
        }

        $('.language-select').on('select2:select', function (e) {
          changeFilter({...currentFilter, language: e.params.data.id})
        });
        $('.language-select').on('select2:unselect', function (e) {
          changeFilter({...currentFilter, language: false})
        });
        
        $('.service-select').on('select2:select', function (e) {
          changeFilter({...currentFilter, service: e.params.data.id})
        });
        $('.service-select').on('select2:unselect', function (e) {
          changeFilter({...currentFilter, service: false})
        });

        $('.beneficiary-select').on('select2:select', function (e) {
          changeFilter({...currentFilter, beneficiary: e.params.data.id})
        });
        $('.beneficiary-select').on('select2:unselect', function (e) {
          changeFilter({...currentFilter, beneficiary: false})
        });
        
        const urlParams = new URLSearchParams(window.location.search);
        const urlLanguages = urlParams.get('languages');
        languageSelect.val(urlParams.get('languages')).trigger("change");
        languageSelect.val(urlParams.get('languages')).trigger({
            type: 'select2:select',
            params: {
                data: {
                  id: urlParams.get('languages')
                }
            }
        });
        const urlBeneficiaries = urlParams.get('beneficiaries');
        beneficiarySelect.val(urlParams.get('beneficiaries')).trigger("change");
        beneficiarySelect.val(urlParams.get('beneficiaries')).trigger({
            type: 'select2:select',
            params: {
                data: {
                  id: urlParams.get('beneficiaries')
                }
            }
        });
        const urlServices = urlParams.get('services');
        serviceSelect.val(urlParams.get('services')).trigger("change");
        serviceSelect.val(urlParams.get('services')).trigger({
            type: 'select2:select',
            params: {
                data: {
                  id: urlParams.get('services')
                }
            }
        });
        
    });

each organisation,i in organisations
  - var services = organisation.services.split(',').map(function(a) {return 'service-' + a.trim()}).join(' ')
  - var beneficiaries = organisation.beneficiaries.split(',').map(function(a) {return 'beneficiary-' + a.trim()}).join(' ')
  - var langs = organisation.languages.split(',').map(function(a) {return 'language-' + a.trim()}).join(' ')
  .organisation.pure-g(class=services, class=beneficiaries, class=langs).corner
    .logo.pure-u-1-2.pure-u-md-1-4.pure-u-sm-1-2
      if organisation.logo
        img(src=site.baseurl+'/images/logos/'+organisation.logo)
    .info.pure-u-1-2.pure-u-md-3-4.pure-u-sm-1-2
      h2.org-name= organisation.name
    .info.pure-u.pure-u-md-3-4.offset-md-1-4.pure-u-sm-1-1
      p 
       | Website: 
       a(href=organisation.website)= organisation.website
      .tags
        each language in organisation.languages.split(',').map(trimmer)
          a.tag= language
      .tags
        each service in organisation.services.split(',').map(trimmer)
          a.tag= site.tags[language].services[service]                    
      p= organisation.contents
      .additional
        a.pure-button.expand(href='#',id=i) Expand Info
        .collapsed(id='info-' + i)
          .services
            h3 Services
            each service in organisation.services.split(',').map(trimmer)
              .pure-u-1-2
                a.bullet!= site.tags[language].services[service]
          br
          .services
            h3 Who they help
            each beneficiary in organisation.beneficiaries.split(',').map(trimmer)
              .pure-u-1-2
                a.bullet!= site.tags[language].beneficiaries[beneficiary]
          br
          - var contact_methods = organisation.contact_methods
          - var web_form = organisation.web_form
          - var email = organisation.email
          - var pgp_key = organisation.pgp_key
          - var pgp_key_fingerprint = organisation.pgp_key_fingerprint
          - var mail = organisation.mail
          - var signal = organisation.signal
          - var skype = organisation.skype
          - var whatsapp = organisation.whatsapp
          - var phone = organisation.phone
          - var tor = organisation.tor
          .contacts
            h3 How to contact
            - var methods = contact_methods.split(',').map(trimmer)
            each method in methods
              if method==='web_form'
                .method
                  span!= site.tags[language].methods[method]
                  | : 
                  span!= web_form
              else if method==='email' && methods.includes('pgp')
                .method
                  span!= site.tags[language].methods[method]
                  | : 
                  span
                    != email
                    |  (PGP available for email encryption)
                .method
                  span!= site.tags[language].methods['pgp_key']
                  | : 
                  span
                    != pgp_key
                .method
                  span!= site.tags[language].methods['pgp_key_fingerprint']
                  | : 
                  span
                    != pgp_key_fingerprint
              else if method==='email' && !methods.includes('pgp')
                .method
                  span!= site.tags[language].methods[method]
                  | : 
                  span!= email
              else if method==='mail'  
                .method
                  span!= site.tags[language].methods[method]
                  | : 
                  span!= mail
              else if method==='signal'  
                .method
                  span!= site.tags[language].methods[method]
                  | : 
                  span!= signal
              else if method==='skype'  
                .method
                  span!= site.tags[language].methods[method]
                  | : 
                  span!= skype
              else if method==='whatsapp'  
                .method
                  span!= site.tags[language].methods[method]
                  | : 
                  span!= whatsapp
              else if method==='phone'  
                .method
                  span!= site.tags[language].methods[method]
                  | : 
                  span!= phone
              else if method==='tor'  
                .method
                  span!= site.tags[language].methods[method]
                  | : 
                  span!= tor
          .services
            h3 Available in languages
            each language in organisation.languages.split(',').map(trimmer)
              .pure-u-1-2
                a.bullet!= language
          .services
            h3 Working Hours
            p= organisation.hours
          .services
            h3 Expected Response Time
            p= organisation.response_time
          a.pure-button.fold(href='#',id='fold-' + i) Fold
  br    
  script.
    Array.from(document.getElementsByClassName("expand")).forEach(function(element) {
      element.addEventListener("click", function(e) {
        document.getElementById('info-' + element.id).style.display = 'block';
        document.getElementById(element.id).style.display = 'none';
        e.preventDefault();
      });
    })
    Array.from(document.getElementsByClassName("fold")).forEach(function(element) {
      element.addEventListener("click", function(e) {
        document.getElementById('info-' + element.id.split('-')[1]).style.display = 'none';
        document.getElementById(element.id.split('-')[1]).style.display = 'inline-block';
        e.preventDefault();
      });
    })
