doctype html
html
  include includes/head

  body.holy-grail
    #background-img
    header.main-header
      .fixed-width-container
        include includes/navbar
    .holy-grail-body
      section.fixed-width-container
        block main
          != content
      //- section.holy-grail-sidebar-1.hg-sidebar &nbsp;
      //- section.holy-grail-sidebar-2.hg-sidebar &nbsp;
    footer
      .fixed-width-container
        include includes/foot
        
  script.
    document.addEventListener("DOMContentLoaded", function(event) {
      anchors.options.placement = 'left';
      anchors.add('h2,h3');
    })

  script(src=site.baseurl+"/js/main.js")
  
  if (watch) 
    script(src='http://localhost:35730/livereload.js')
