.organisation.pure-g.corner
  .logo.pure-u-1-2.pure-u-md-1-4.pure-u-sm-1-2
    if logo
      img(src=site.baseurl+'/images/logos/'+logo)
  .info.pure-u-1-2.pure-u-md-3-4.pure-u-sm-1-2
    h2.org-name= name
  .info.pure-u.pure-u-md-3-4.offset-md-1-4.pure-u-sm-1-1
    p 
     | Website: 
     a(href=website)= website
    .tags
      each language in languages.split(',').map(function(a) {return a.trim()})
        a.tag= language      
    .tags
      each service in services.split(',').map(function(a) {return a.trim()})
        a.tag= site.tags[language].services[service]          
    p= contents
    .additional
      a.pure-button.expand(href='#',id=index) Expand Info
      .collapsed(id='info-' + index)
        .services
          h3 Services
          each service in services.split(',').map(function(a) {return a.trim()})
            .pure-u-1-2
              a.bullet!= site.tags[language].services[service]
        br
        .services
          h3 Who they help
          each beneficiary in beneficiaries.split(',').map(function(a) {return a.trim()})
            .pure-u-1-2
              a.bullet!= site.tags[language].beneficiaries[beneficiary]
        br
        .contacts
          h3 How to contact
          - var methods = contact_methods.split(',').map(function(a) {return a.trim()})
          each method in methods
            if method==='web_form'
              .method
                span!= site.tags[language].methods[method]
                | : 
                span!= web_form
            else if method==='email' && methods.includes('pgp')
              .method
                span!= site.tags[language].methods[method]
                | : 
                span
                  != email
                  |  (PGP available for email encryption)
              .method
                span!= site.tags[language].methods['pgp_key']
                | : 
                span
                  != pgp_key
              .method
                span!= site.tags[language].methods['pgp_key_fingerprint']
                | : 
                span
                  != pgp_key_fingerprint

            else if method==='email' && !methods.includes('pgp')
              .method
                span!= site.tags[language].methods[method]
                | : 
                span!= email
            else if method==='mail'  
              .method
                span!= site.tags[language].methods[method]
                | : 
                span!= mail
            else if method==='signal'  
              .method
                span!= site.tags[language].methods[method]
                | : 
                span!= signal
            else if method==='skype'  
              .method
                span!= site.tags[language].methods[method]
                | : 
                span!= skype
            else if method==='whatsapp'  
              .method
                span!= site.tags[language].methods[method]
                | : 
                span!= whatsapp
            else if method==='phone'  
              .method
                span!= site.tags[language].methods[method]
                | : 
                span!= phone
            else if method==='tor'  
              .method
                span!= site.tags[language].methods[method]
                | : 
                span!= tor
        br
        .services
          h3 Available in languages
          each language in languages.split(',').map(function(a) {return a.trim()})
            .pure-u-1-2
              a.bullet!= language  
        br
        .services
          h3 Working Hours
          p= hours
        .services
          h3 Expected Response Time
          p= response_time
        a.pure-button.fold(href='#',id='fold-' + index) Fold

  script.
    Array.from(document.getElementsByClassName("expand")).forEach(function(element) {
      element.addEventListener("click", function(e) {
        document.getElementById('info-' + element.id).style.display = 'block';
        document.getElementById(element.id).style.display = 'none';
        e.preventDefault();
      });
    })
    Array.from(document.getElementsByClassName("fold")).forEach(function(element) {
      element.addEventListener("click", function(e) {
        document.getElementById('info-' + element.id.split('-')[1]).style.display = 'none';
        document.getElementById(element.id.split('-')[1]).style.display = 'inline-block';
        e.preventDefault();
      });
    })
