---
layout: index.pug
language: en
permalink: /en/
---

.header.full-width
  .contents
    h1 Welcome to 
    br
    h1 the Digital First Aid Kit!
    br
    h1#sub A kit designed to get you to the right CiviCERT team

.intro
  .contents
    p The Digital First Aid Kit is a free resource to help rapid responders, digital security trainers, and tech-savvy activists to better protect themselves and the communities they support against the most common types of digital emergencies. It can also be used by activists, human rights defenders, bloggers, journalists or media activists who want to learn more about how they can protect themselves and support others. If you or someone you are assisting is experiencing a digital emergency, the Digital First Aid Kit will guide you in diagnosing the issues you are facing, and refer you to support providers for further help if needed.

.how
  .contents.fixed-width-smaller-container
    .separator
      h1 What problem are you facing?

    .pure-g
      .icons.pure-u-1
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-device')
            img(src=site.baseurl + '/images/topics/lost-device.svg', width=180)
            p I lost my device
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/account-access-issues')
            img(src=site.baseurl + '/images/topics/account-access-issues.svg', width=180)
            p I lost access to my accounts
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/device-acting-suspiciously') 
            img(src=site.baseurl + '/images/topics/device-acting-suspiciously.svg', width=180)
            p My device is acting suspiciously
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/suspicious-messages') 
            img(src=site.baseurl + '/images/topics/suspicious-messages.svg', width=180)
            p I have received suspicious messages
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/website-not-working')
            img(src=site.baseurl + '/images/topics/website-not-working.svg', width=180)
            p My website is not working
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/impersonated')
            img(src=site.baseurl + '/images/topics/impersonated.svg', width=180)
            p Someone is impersonating me online
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/harassed-online')
            img(src=site.baseurl + '/images/topics/harassed-online.svg', width=180)
            p I am being harassed online
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-data') 
            img(src=site.baseurl + '/images/topics/lost-data.svg', width=180)
            p I have lost my data
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='arrested') 
            img(src=site.baseurl + '/images/topics/arrested.svg', width=180)
            p Someone I know has been arrested

    p.after 
      | Select the problem you are facing and the Digital First Aid Kit 
      | will walk you through a set of questions to better diagnose the 
      | problem and find reseources to help you. For problems you cannot 
      | tackle on your own, the DFAK has a 
      a(href="support/") list of support organizations for you to consult with
      | .

.bottom
  .contents.fixed-width-smaller-container
    .pure-g
      .pure-u-1-1.cols
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 WHAT ELSE YOU NEED TO KNOW?
          p
            | The Digital First Aid Kit is not meant to serve as the ultimate solution to all
            | your digital emergencies. If you feel uncertain about how to address the
            | issues you are facing, please reach out to 
            a(href="support/") list of support organizations for you to consult with
            | .
        .pure-u.pure-u-md-1-3.pure-u-sm-1.lightgrey
          h1 FEELING OVERWHELMED?
          p
            | Online harassment, threats, and other kinds of digital attacks can
            | create huge burden to your feelings and wellbeing. Read our 
            a(href="self-care/") Self-care guide
            |  tips to find out more resources and organizations for support and
            | mitigation.
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 WHO IS BEHIND THE DIGITAL FIRST AID KIT?
          p
            | This resource is a collaborative effort of the 
            a(href="rarenet.org") Rapid Response Network 
            | and 
            a(href="civicert.org") CiviCERT
            | . See our
            a(href="about/") About page
            | for further information. The Digital First Aid Kit is an 
            | open-source project and we welcome 
            a(href="https://gitlab.com/rarenet/dfak") outside contributions
            | .
